// light mode

$special-color: rgb(0, 121, 255);

$secondary-color: rgb(105, 124, 154);
$stats-color-lm: rgb(43, 52, 66);
$main-bg-color-lm: rgb(246, 248, 255);
$card-bg-color-lm: rgb(255, 255, 255);

// dark mode

$primary-color-dm: rgb(255, 255, 255);
$main-bg-color-dm: rgb(20, 29, 47);
$card-bg-color-dm: rgb(30, 42, 71);
